

.abot{
    width: 100%;
    min-height: 570px;
    margin-bottom: 50px;
    background-color: rgba(226, 249, 245, 0.975);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* padding-top: 80px; */
   padding: 80px 60px;
}
.left,
.right{
  border: none !important;
}
.left{
   
    width: 50%;
    padding-top: 50px;
  margin-left: 100px;
}

.left h2{
    color: blueviolet;
}

.left p{
    color: gray;
}

.right{
      padding-top: 50px;
    width: 30%;
    margin-right: 100px;
      display:flex;
    justify-content:center;
    
}

.right img{
    width: 100%;
    height: auto;
    max-width: 450px;
  max-height: 300px;
    border-radius: 10px;
    margin-top: 10px;
}

/* -------- Tablet -------- */

@media (max-width: 992px){

.abot{
    flex-direction: column;
    text-align: center;
}

.left{
    width: 100%;
}

.right{
    width: 100%;
}

.right img{
    max-width: 450px;
    /* display: flex;
    justify-content: center; */
    margin-left: 170px;
    margin-top: 50px;
    max-height: 350px;
}

}

/* -------- Mobile -------- */

@media (max-width: 576px){

.abot{
    justify-content:first baseline;
    /* align-items:first baseline; */
    margin-bottom: 0px;
    
     padding-top: 20px;
     padding-left: 0;
    /* gap: 25px; */
    border: 2px solid;
}

.left h1{
    font-size: 28px;
}

.left h2{
    font-size: 20px;
}

.left p{
    font-size: 14px;
}
.left{
    width: 100%;
}
.right{
    width: 100%;
}

.right img{
    width: 100%;
    height: auto;
   
   max-width: 300px;
   max-height:300px;
    /* margin-left: 170px;
    margin-top: 150px; */
   
     /* margin-left: 170px; */
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

}